
.title{
    font-family: "Raleway", sans-serif;
    background-color: darkorange;
}

.navbar{
    display:grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}

.navbar a{
    padding: 20px;
    font-family: "Raleway", sans-serif;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
button {
    width: 100%;
    background-color: #4CAF50;
    color: black;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family:"Raleway", sans-serif ;
    font-weight:bold;
    font-size: 20px;

  }

button:hover {
    background-color: #45a049;
  }
